footer.footer
    .container 
        .footer-inner 
            .footer_col 
                a(href="#").header_logo 
                    img(src="./assets/logo.svg", alt="logo")
            .footer_col 
                ul.footer_list 
                    li.footer_list_item 
                        a(href="#").footer_list_link Voice over and Subtitle 
                    li.footer_list_item 
                        a(href="#").footer_list_link Media Center 
                    li.footer_list_item 
                        a(href="#").footer_list_link Privacy 
                    li.footer_list_item 
                        a(href="#").footer_list_link Contact us 
        
            .footer_col 
                ul.footer_list 
                    li.footer_list_item 
                        a(href="#").footer_list_link Voice Description
                    li.footer_list_item 
                        a(href="#").footer_list_link Investor Relations
                    li.footer_list_item 
                        a(href="#").footer_list_link Legal Provisions 

            .footer_col 
                ul.footer_list 
                    li.footer_list_item 
                        a(href="#").footer_list_link Help Center
                    li.footer_list_item 
                        a(href="#").footer_list_link Job Opportunities 
                    li.footer_list_item 
                        a(href="#").footer_list_link Cookies Preferences 

            .footer_col 
                ul.footer_list 
                    li.footer_list_item 
                        a(href="#").footer_list_link Git Cards
                    li.footer_list_item 
                        a(href="#").footer_list_link Terms of Use 
                    li.footer_list_item 
                        a(href="#").footer_list_link Corporate Informations