header.header(id="wrapper", data-aos="fade-down") 
    .container 
        .header_inner 
            a(href="#").header_logo
                img(src="./assets/logo.svg", alt="logo.svg")

            nav.nav
                ul.nav_list 
                    li.nav_item 
                        a(href="#", data-target="#banner").nav_link.active Home 
                    li.nav_item 
                        a(href="#", data-target="#tv-shows").nav_link TV Shows
                    li.nav_item 
                        a(href="#", data-target="#movies").nav_link Movies 
                    li.nav_item 
                        a(href="#").nav_link Series 
            
            .control 
                ul.control_list 
                    li.control_item.control_item--search
                        button.btn.btn--empty.btn-search
                    li.control_item.control_item--notify
                        button.btn.btn--empty.btn-notify 
                    li.control_item.control_item--lk 
                        button.btn.btn--empty.btn-lk
            
            button.burger 
                span.burger_item 
                span.burger_item 
                span.burger_item
             
    
    