block content 
    section.section(id="tv-shows") 
        .container 
            .section_inner 
                h2.section_title(data-aos="flip-right", data-aos-duration="3000") 
                    a(href="#").section_h2_link Trending TV Shows 
                .section_content 
                    ul.section_list 
                        li.section_item(data-aos="fade-up", data-aos-delay="100") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters1.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="200") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters2.png", alt="film") 
                        li.section_item(data-aos="fade-up", data-aos-delay="300") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters3.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="400") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters4.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="500") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters5.png", alt="film") 
                        li.section_item(data-aos="fade-up", data-aos-delay="600") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters6.png", alt="film") 
        
    
    //- Movies 
    section.section(id="movies") 
        .container 
            .section_inner 
                h2.section_title(data-aos="flip-right", data-aos-duration="3000") 
                    a(href="#").section_h2_link Trending Movies 
                .section_content 
                    ul.section_list 
                        li.section_item(data-aos="fade-up", data-aos-delay="100") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters7.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="200") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters8.png", alt="film") 
                        li.section_item(data-aos="fade-up", data-aos-delay="300") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters9.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="400") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters10.png", alt="film")
                        li.section_item(data-aos="fade-up", data-aos-delay="500") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters11.png", alt="film") 
                        li.section_item(data-aos="fade-up", data-aos-delay="600") 
                            a(href="#").section_link 
                                img(src="./assets/posters/posters12.png", alt="film") 
                button.btn.btn--blue See More 
    


                         
            
            

    